html
  head
    title= title
  body
    h1= message

    each val, index in list
      span
        input(id= index, type='checkbox', checked=val.isDone)
        label(for= index)= val.description
      br
      